<h1>Stylists</h1>
<a href="/stylists/new">Create New Stylist</a>
<br>
<br>
<ul>
  <% @stylists.each do |stylist| %>
    <li><%= stylist.first_name %>
      <a href="/stylist/<%= stylist.id %>/show">Show</a>
      <a href="/stylist/<%= stylist.id %>/edit">Edit</a>
      <a href="/stylist/<%= stylist.id %>/delete">Delete</a>
      <a href="/stylist/<%= stylist.id %>/add_clients">Add Clients</a>
    </li>
  <% end %>
</ul>

<a href="/">Back</a>
